* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
header .container {
  width: 100%;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
}
header .container h2 {
  font-weight: bold;
  background-color: #4caf50;
  color: white;
  padding: 8px;
}
header .container .switch-button img {
  width: 50px;
  border: 2px solid black;
  border-radius: 50%;
}

header .container .switch-button .user-options {
  width: 200px;
  position: fixed;
  right: 70px;
  display: none;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  z-index: 1;
}
header .container .switch-button:hover .user-options {
  display: flex;
  justify-content: space-around;
}
header .container .switch-option {
  cursor: pointer;
  transition: color 0.2s ease-in-out; /* Menambahkan animasi transisi pada warna teks tombol */
}

/* SETTING CLASS ACTIVE */
header .container .switch-option.active {
  color: blue; /* Mengatur warna teks tombol aktif menjadi biru */
  font-weight: bold;
}

header .container .switch-option:hover {
  color: darkgreen; /* Efek animasi hover saat mouse di atas tombol */
  font-weight: bold;
}

/* NAVIGASI */
header .container nav {
  display: flex;
  column-gap: 40px;
  font-weight: 600;
}

header .container nav a {
  color: black;
}

header .container nav a:hover {
  color: darkblue;
}

/* MAIN SECTION */
main {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  height: calc(100vh - 65px);
}

main .chat-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

main .chat-container .user {
  width: max-content;
  padding: 10px;
  border: 2px solid black;
}

main .chat-container .user-action {
  display: flex;
  justify-content: space-between;
}

/* CHAT BOX MENU */
main .chat-container .chat-box {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 20px 0px;
  border: 2px solid black;
  clear: both; /* Membersihkan float setelah chat message */
}
main .chat-container .user-action .user-input {
  width: 80%;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 5px;
}
main .chat-container .user-action .send-button {
  background-color: #4caf50;
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}

main .chat-container .user-action .send-button:hover {
  background-color: #3f7741;
}

/* CHAT BUBBLE TEXT */
.you-message {
  width: 50%;
  background-color: #f1f1f1;
  align-self: flex-start;
  float: left; /* Membuat chat dari user "you" berada di sebelah kiri */
  clear: both; /* Membersihkan float setelah chat message */
}
.me-message {
  width: 50%;
  background-color: #4caf50;
  padding: 10px;
  color: white;
  align-self: flex-end; /* Mengatur posisi chat ke kanan */
  float: right; /* Membuat chat dari user "me" berada di sebelah kanan */
  clear: both; /* Membersihkan float setelah chat message */
}

.user-message {
  /* Gaya CSS untuk kotak pesan dari pengguna (You) */
  width: 40%;
  background-color: #f1f1f1;
  align-self: flex-start;
  float: left;
  clear: both;
  position: relative; /* Tambahkan properti position: relative; agar posisi anaknya bisa diatur secara absolut */
  margin-bottom: 10px; /* Tambahkan margin bawah untuk memberikan jarak antar user message */
}

.timestamp-you {
  font-size: 12px;
  color: #999;
}

.timestamp-me {
  font-size: 12px;
  color: #fff; /* Ganti warna menjadi putih untuk user "Me" */
}

/* SIDE BAR */
main aside {
  width: 50%;
  padding: 20px;
}

main aside .greeting {
  text-align: end;
}

main aside .greeting p {
  font-size: 30px;
  font-weight: 600;
  font-family: monospace;
}

main aside .current-chat {
  margin-top: 20px;
  border: 2px solid black;
  display: flex;
  padding: 10px;
  column-gap: 10px;
  height: 200px;
}

main aside .current-chat .notifchat,
main aside .current-chat .chatOnline {
  width: 50%;
  border: 2px solid black;
  padding: 5px;
}

main aside .allChat {
  margin-top: 20px;
  border: 2px solid black;
  height: 200px;
  padding: 10px;
}
